.form-login div input {
    width: 100%;
    min-width: 500px;
    height: 2.5em;
    border-radius: 20px;
    color: #363636;
    box-shadow: 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    border: 1px solid transparent;
    border-color: #dbdbdb;
    padding-left: 3em;
}

.form-login label {
    font-weight: 700;
    color: #363636;
}

.form-login div button {
    border-radius: 20px;
    background-color: #3298dc;
    border-color: transparent;
    color: #fff;
    width: 100%;
    height: 2.3em;
}

.error-text {
    color: red
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.input-group-login {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding-left: 10px
}