.form-datos-paciente .row {
    margin-block: 18px;
}

.datos-container {
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ededed;
    background-color: #fafafa;
}

.datos-container .div {
    padding: 15px 20px
}

.datos-container .header {
    background-color: #fff;
    border-bottom: 1px solid #ededed
}

.datos-container .row {
    padding: 0;
}

.datos-container label {
    font-weight: 600;
    font-size: 14px;
}

.datos-container select {
    font-size: 13px;
}

.datos-container .form-control {
    padding: 5px 10px
}

.datos-container .form-select {
    padding: 8px 
}

.datos-container, .form-check-input {
    margin-block: 0;
    padding-block: 0;
}

.datos-container, .form-check-label {
    font-size: 12px!important;
}

.datos-container input::placeholder {
    color: lightgray;
    font-size: 13px;
}

.btn-submit {
    background-color: #48c774;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 14px
}

@media screen and (max-width: 1000px) {
    .form-check {
        padding-left: 0!important;
    }
    .form-check-input {
        font-size: 17px!important;
        margin: 0!important
    }

    .form-check-label{
        font-size: 14px;
        padding-inline: 6px
    }
}