
.trazabilidad-container {
    width: 100%;
}

.trazabilidad-container .border-blue {
    background-color: #aed8ff;
    height: 30px;
    width: 100%;
}

.trazabilidad-container .card-trazabilidad {
    border-radius: 3px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02);
    padding: 0;
    width: 253px;
}

.trazabilidad-container .card-trazabilidad .card-body{
    height: 100%;
    line-height: 7px;
    padding: 10px 20px
}

.trazabilidad-container .card-trazabilidad .card-body div{
    height: 100%;
}

.card-trazabilidad p {
    font-size: 13px;
}

.card-trazabilidad h6 {
    font-size: 16px;
}

@media screen and (max-width: 1060px) {
    .trazabilidad-container .card-trazabilidad {
        width: 340px;
    }

    .trazabilidad-container .border-blue {
        height: 40px;
    }
}